*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#0d0d0d;
color:white;
font-family:'Cormorant Garamond',serif;
}

.hero{
height:100vh;
background:url('images/hero.jpg') center center/cover;
position:relative;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,.55);
}

.hero-content{
position:relative;
z-index:2;
padding:20px;
}

.hero h1{
font-size:5rem;
font-family:'Cinzel',serif;
color:#d4af37;
}

.hero h3{
letter-spacing:3px;
margin-bottom:15px;
}

.hero p{
font-size:1.4rem;
margin:20px 0;
}

.date{
font-size:1.3rem;
margin-bottom:30px;
}

.btn{
background:#d4af37;
padding:14px 28px;
text-decoration:none;
color:black;
font-weight:bold;
border-radius:50px;
}

section{
padding:80px 10%;
text-align:center;
}

h2{
font-size:3rem;
color:#d4af37;
margin-bottom:30px;
}

#countdown{
font-size:2rem;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.grid img{
width:100%;
border-radius:15px;
}

footer{
padding:80px 20px;
text-align:center;
background:black;
}
